{#
/**
 * @file reservation_entity.html.twig
 * Default theme implementation to present Hall Reservation data.
 *
 * This template is used when viewing Hall Reservation pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_reservation_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('reservation_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
